@model _01_Intro_mvc_.Models.Category

<form asp-action="Update" method="post">
    <div style="width: 40%; margin: 0 auto; border: 2px solid black; padding: 10px; border-radius: 10px;">
        <h1 style="text-align: center">Update Category</h1>

        <div class="mb-3 row">
            <label for="name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" asp-for="Name">
                <span class="text-danger" asp-validation-for="Name"></span> <!-- Вивід помилки -->
            </div>
        </div>

        <div style="margin: 15px 0; display: flex; padding: 5px;">
            <input style="flex-grow: 1; margin: 5px;" type="submit" class="btn btn-success" />
            <a style="flex-grow: 1; margin: 5px;" class="btn btn-dark" asp-action="Index">Back</a>
        </div>
    </div>
</form>


@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
